[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "earthdatalogin"]
	path = earthdatalogin
	url = https://github.com/boettiger-lab/earthdatalogin
[submodule "sarsop"]
	path = sarsop
	url = https://github.com/boettiger-lab/sarsop
